<h1>New Student Profile</h1>
<div class="container d-flex my-5">
  <div class="float-left my-5 col-md-7">
    <h3 class="text-left purple-text mx-auto col-md-9 sign-up-title">Hello Student! Complete your profile!</h3>
  </div>
  <div class="form-group emp-form profile-form purple my-auto rounded col-md-5 float-right">
    <div class="inner-form col-md-9 mx-auto my-5">
      <%= form_with scope: :student_profiles, url: student_profiles_path, local: true do |form| %>
        <div class="field">
          <%= form.text_field :name, class: "input", placeholder: "Your name" %>
        </div>
        <div class="field">
          <%= form.text_field :age_group, class: "input", placeholder: "Your age" %>
        </div>
        <div class="actions text-center">
          <%= form.submit class: "exp-submit" %>
        </div>
      <% end %>
      <%#=<%= render "employers/shared/links" %>
    </div>
    <%#=	<%= link_to 'Back', employers_profiles_path %>
  </div>
</div>
<%# <%= render 'form', student_profile: @student_profile %>
<%# <%= link_to 'Back', student_profiles_path %>
