<p id="notice"><%= notice %></p>
<h1>WHAT UP STUDENT</h1>
<h5>Here are your podcasts to listen to</h5>
<% @requiredPodcast.each do |podcast| %>
  <a href="/podcasts/<%=podcast.id%>"><%=podcast.podcast_title%></a>
<p><%= podcast.episode_name%></p>
<a href="/deleteentry/<%=podcast.id%>" data-method="delete">Delete entry</a>
<%end%>
<hr/>
  <h5>Here are the people you are subscribed to</h5>
  <% @requiredAuthor.each do |author|%>
    <p>Name: <%= author.name%></p>
    <img src=<%= author.photo_url%>/>
    <p>Description: <%= author.description%></p>
    <p><%= author.id%></p>
    <a href="/deletesubscribe/<%=author.id%>" data-method="delete">Delete subscribe</a>
  <%end%>
