<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<h1>Podcast show page</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <ul>
      <li>Name: <%= @podcast.name %></li>
      <li>Duration: <%= @podcast.duration %></li>
      <li>Description: <%= @podcast.description %></li>
      <li>Description: <%= @podcast.created_at %></li>
    </ul>
    <audio controls>
      <source src=<%= @podcast.url%>>
    </audio>
    <div class="container">
      <span id="rateMe1"></span>
    </div>
    <td><%= link_to 'Edit', edit_podcast_path(@podcast) %></td>
    <td><%= link_to 'Destroy', @podcast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</tbody>
</table>
<br>
